 <footer class="border-top footer text-muted">
        <div class="container text-white">
            &copy; 2022 - Turizm - <a class="text-white"  asp-area="" asp-controller="Home" asp-action="Privacy">About Us</a>
        </div>
    </footer>