@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



        <div class="container col-md-3">
            <form class="form-group" asp-controller="Account" asp-action="Login">
                    <div class="text-center my-2">
                        <h1 class="text-dark mb-3">Enter</h1>
                    </div>

                    <div class="fv-row ">
                        <label class="form-label text-center fs-6 fw-bolder text-dark">ID</label>
                        <input class="form-control form-control-lg form-control-solid" type="text" placeholder="Name=admin" name="userName" autocomplete="off" />
                    </div>
                    <div class="fv-row">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label text-center fw-bolder text-dark fs-6 ">Password</label>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" type="password" placeholder="password=admin" name="password" autocomplete="off" />
                    </div>

                    <div class="text-center">
                        <input type="submit" value="Login" class="btn btn-lg btn-primary w-100 my-5" />
                    </div>

                </form>
        </div>
            
                
            
        
 


